html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    gap: 1%;

}

#board-container {
    display: grid;
    grid-template-rows: repeat(10, 50px);
    grid-template-columns: repeat(10, 50px);
    width: 500px;
}

/* .case {
    background-color: aqua;
} */